:root {
    --light-color: #fff;
    --dark-color: #000;
    --primary-color: #f0542d;
}

#top-nav {
    .social-top {
        a {
            color: var(--light-color);
            margin: 0 8px;
            padding: 0;
            transition: .3s ease-in-out;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    .quote {
        background-color: var(--primary-color);
        transition: .5s ease-in-out;

        &:hover {
            background-color: #da3810;
        }

        a {
            color: var(--light-color);
            text-decoration: none;
        }
    }
}

#nav-top{
    i{
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
    }
}